---
pagination: 
    data: contentful
    size: 1
    alias: page
    addAllPagesToCollections: true
permalink: "{{ page.slug | slug }}/"
tags: "page"
layout: layout.njk

eleventyComputed:
    title: "{{ page.title }}"
---
<!-- Bron: https://www.contentful.com/blog/integrating-contentful-with-eleventy-create-static-sites/ -->
<!-- pagination is ervoor om eht bij deze uit contentful te halen en in de public map meerdere mappen te maken -->
<!-- eleventy computed = om dingen dynamisch te maken -->

<!-- Dit is de front matter. Is alles wat in het template wordt verwezen met de dubbele curly brackets zet je hierin -->
<!-- De front matter moet helemaal bovenaan het bestand staan bij 1 anders genereerd hij dit niet -->

<a href="/">ga naar home</a>


<h1>{{page.title}}</h1>
{%- for component in page.components -%}
    <!-- {{ component.sys.contentType.sys.id}} -->
    <!-- als dat component in de pagina zit wordt het gegenereerd -->
    <!-- De volgorde die gegenereerd wordt in de public is van contentful -->
     
    {% if component.sys.contentType.sys.id == "hero" %}
        {% include 'organisms/hero.njk' %}

    {% elsif component.sys.contentType.sys.id == "card" %}
        <p>dit is een card</p>



    {% elsif component.sys.contentType.sys.id == "itemCollection" %}
        <section>
            <h2>{{ component.fields.internalName }}</h2>
            {% for item in component.fields.components %} 
                <p>{{ item.sys.id }}</p>
            {% endfor %}  
        </section>


    {% elsif component.sys.contentType.sys.id == "typeText" %}
        {% include 'organisms/text.njk' %}


    {% elsif component.sys.contentType.sys.id == "navigation" %}
        <p>dit is een navigatie</p>



    {% elsif component.sys.contentType.sys.id == "typeAssets" %}
        <p>dit is een asset</p>



    {% elsif component.sys.contentType.sys.id == "typeLink" %}
        <p>dit is een link</p>

    {% endif %}
{% endfor %}

<!-- {{ contentful }} -->

<!-- Bron: https://www.contentful.com/blog/integrating-contentful-with-eleventy-create-static-sites/ -->